.review-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reviews-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
  }
  
  .reviews-list h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
  }
  
  .review-item {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .review-header {
    display: flex;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    margin: 0;
  }
  
  .review-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .review-rating {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .review-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .review-created-at {
    font-size: 14px;
    line-height: 20px;
    color: #565959;
    margin: 0;
  }
  
  .review-body {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  .review-form-btns {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 11px;
    line-height: 20px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    width: 77px;
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 7px;
  }
  
  .review-form-btns:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
  }

  .button-container {
    display: flex;
  }
