.profile-button {
    position: relative;
    display: inline-block;
    padding: 20px;
    z-index: 2;
    border: 1px solid transparent;
  }

.profile-button:hover {
  border: 1px solid #ddd;
  padding: 20px
}
.new-customer-container span {
  color: black;
}
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 400px;
    transform: translateX(25px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
  }
  
  .profile-button:hover .dropdown-menu {
    display: block; 
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;

  }
  
  
  .logout-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0c14b;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150%;
    text-align: center;
    border-radius: 10px;
  }
  
  .logout-button button:hover {
    background-color: #ddb347;
  }

  .sign-in-button-dropdown {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0c14b;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    border-radius: 10px;
  }
  
  .sign-in-button-dropdown:hover {
    background-color: #ddb347;
  }

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
  .register-link {
    text-decoration: none;
    color: blue
  }
  .register-link:hover {
    text-decoration: underline;
  }
  .dimmedLayer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }