.cart-listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    max-width: 70%;
    background-color: white;
  }
  
  .cart-product-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .cart-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .cart-heading h1 {
    margin-top: 5px;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
  }
  
  .cart-heading h2 {
    margin-top: 5px;
    font-size: 14px;
    color: #565959;
  }
  
  .cart-product-box {
    display: flex;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
  
  .cart-item-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
  }
  
  .cart-item-name {
    font-weight: bold;
    font-size: 18px;
    height: 2.6em;
    line-height: 1.3em;
    color: #0F1111;
    line-height: 1.3em;
}
  
  .cart-item-name {
    margin-bottom: 5px;
  }
  
  .cart-item-review {
    font-size: 14px;
    color: #888;
  }
  
  .cart-item-price {
    font-weight: bold;
    margin-left: auto; 
  }

  .cart-item-quantity {
    width: 60px; 
  }
  