.product-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    padding-bottom: 40px;
    margin: 100px;
    gap: 25px;
    /* background-color: white; */
  }
  
  .product-box {
    width: 300px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .product-image {
    width: 70%;
    height: auto;
    object-fit: cover;
    padding-bottom: 40px;
  }
  
  .product-brand {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #0F1111;
  }
  
  .product-name {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #0F1111;
  }
  
  .product-price {
    font-size: 28px;
    color: #0F1111;
    margin-top: 5px;
  }

  .product-review {
    padding-bottom: 10px;
    font-size: 10px;
    color: #0F1111;
  }

  .review-count {
    font-size: 14px;  
    line-height: 20px;
    color: #007185;
    margin-left: 5px;
  }

  .product-rating-count {
    color: #0F1111;
  }
  