.navigation-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: white;
}
.header {
    background-color: #131921;
    padding: 10px;
    color: #fff;
}
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.logo {
    width: 100px;
    padding: 10px;
    border: 1px solid transparent;
}

.logo:hover{
    border: 1px solid #ddd;
}
  
.logo img {
    width: 100%;
    height: 50px;
}
  
.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
}
  
.search-bar input[type="text"] {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-left: 20px;
}

.search-bar button[type="submit"] {
    padding: 8px 20px;
    background-color: #f0c14b;
    color: #111;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.placeholder-link {
    color: white;
    text-decoration: none;
    padding: 20px;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-left: 5px;
}

.placeholder-link:hover {
    border: 1px solid #ddd;
}

.cart-icon {
    padding: 20px;
    border: 1px solid transparent;
}

.cart-icon:hover {
    border: 1px solid #ddd;
}

.links a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    margin-right: 5px;
} 
.links a:hover {
    border: 1px solid #ddd;
} 


body {
    margin: 0;
    padding: 0;
}
  
.cart-quantity {
    position: absolute;
    top: 25px;
    right: 64px;
    transform: translateX(50%);
    color: #f08804;
    font-size: 18px;
    padding: 4px;
    font-weight: 700;
    text-align: center;
    left: 50%;
  }

  .cart-img {
    width: 90%;
    border: 1px solid transparent;
    margin-right: -100px;
    margin-top: 10px;
    padding: 5px;
  }

  .cart-img:hover {
    border: 1px solid #ddd;

  }
  